* {
  margin: 0 ;
  padding: 0;
}

body {
  width: 960px;
  margin: auto;
}

.list {
  height: 60px;
  width: 960px;
}

.list:nth-child(odd) {
  background-color: silver;
}

.list:nth-child(1) {
  margin-top: 50px;

}
p {
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.list:nth-child(7) {
  margin-bottom: 50px;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 960px;
}

.box {
  width: 30%;
  height: 200px;
  margin-right: 5%;
  margin-bottom: 40px;
  background-color: orange;
}

.box:nth-child(3,6,9) {
  margin-right: 0;
}